@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body{
	overflow-x:hidden;
	font-family: 'Poppins',sans-serif;
}
::selection {
	color: #d11717;
	background:#eeeded;
  }
html{
	font-size: 62.5%;
}
/*** navbar scroll class */
.navbarScroll .navbar h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 3rem;
	cursor: pointer;
	font-weight:  500;
	background:linear-gradient(to right, #e41642,#ee4527);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.3rem;
	transition: background 1s ease;
}

.navbarScroll .navbar .close_menu .line:nth-child(1)::after{
	background:linear-gradient(to right, #e41642,#ee4527);
}
.navbarScroll::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgb(56, 58, 58);
	background:linear-gradient(to right, #141414 45%,#f53131);
	opacity: 0.5;
	z-index: -1;
}
.navbarScroll{
	transition:1s ease-in;
	transition-property:border-bottom;
	background-image: inherit;
	position: fixed;
}
.navbarScroll .navbar .hamburger .line:nth-child(1){
	width: 35px;
	height: 3px;
}
.navbarScroll .navbar .hamburger .line:nth-child(2){
	width: 25px;
	height: 3px;
}
.navbarScroll .navbar .hamburger .line:nth-child(3){
	width: 14px;
	height: 3px;
}
.navbarScroll .navbar .hamburger .line{
	transition: 1s;
	background:linear-gradient(to right,#e41818,#fd7333);
}
.navbarScroll .navbar .close_menu .line:nth-child(1){
	position: relative;
	transform: rotate(50deg);
	transform-origin: center;
	width: 2.5rem;
}
/*** NavbarScroll Close*/


.navbar h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 3rem;
	cursor: pointer;
	font-weight: 500;
	color: #eee8e8;
	line-height: 7rem;
	letter-spacing: 0.3rem;
	
}
nav{
	width: 100vw;
	height: auto; 
	display:flex;
	align-items: center;
	justify-content: center;
	background-image: inherit;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

}

.navbar{
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.nav_links{
	list-style: none;
	display: flex;
	
}


.nav_links .link a{
	text-decoration: none;
	font-size: 1.6rem;
	padding: 0.4rem 1.8rem;
	/* margin: 1rem; */
	color: #f0ecec;
	font-weight: 500;
	letter-spacing: 2px;
	border: 1px solid transparent;
}
.nav_links .link a:hover{
	color: #d11717;
	/* border: 1px solid #d11717; */
	border-radius:4rem ;
	border: 1px solid #d11717;
}
.nav_links .link a:active{
	background:#d11717 ;
	color: #fff;
}
.nav_links .link:not(:last-child){
	margin-right: 5.5rem;
}


.welcome{
	height: 100vh;
	width: 100vw;
	background-image: url(image/bg1.png);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	background-repeat: no-repeat;
}
.welcome::after{
	content: "";
	position: absolute;
	top:0px;
	left:0px;
	height: 100vh;
	width: 100vw;
	background-color: #000000;
	opacity: 0.72;
}
/*** Hamburger*/
.hamburger div{
	/* width: 25px;
	height: 3px; */
	background-color: ivory;
}
.hamburger .line:nth-child(1){
	width: 35px;
	height: 3px;
}
.hamburger .line:nth-child(2){
	width: 25px;
	height: 3px;
}
.hamburger .line:nth-child(3){
	width: 15px;
	height: 3px;
}
.hamburger div:not(:last-child){
	margin-bottom: 5px;
}
.hamburger{
	display: none;
}
/** Media query */
@media screen and (max-width:890px){
	body{
		overflow-x: hidden;
	}
	.nav_links{
		position: absolute;
		right: 0px;
		height: 100vh;
		width: 40%;
		top: 7.0rem;
		display: flex;
		flex-direction: column;
		transform: translateX(200%);
		transition: transform 0.45s ease-in;
		margin:0;
		z-index: 100;
	}
	.nav_links::before{
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background: #131212;
		opacity: 0.5;
		z-index: -1;
	}
	.nav_links .link{
		font-size: 3rem;
		border-bottom: 2px solid #4d4c4c;
		width: 100%;
		margin-bottom: 1.5rem;
	}
	
	.nav_links .link a:hover, .nav_links .link a:active{
		color: #d11717;
		border: none;
		background: transparent;
	}
	.hamburger{
		display:block;
		cursor: pointer;
	}
	.close_menu .line:nth-child(3){
		display: none;
	}
	.close_menu .line:nth-child(1){
		position: relative;
		transform: rotate(50deg);
		transform-origin: center;
		width: 2.5rem;
		transition: 1s ease;
	}
	.close_menu .line:nth-child(1)::after{
		position: absolute;
		content: " ";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background:#f3f0f0;
		transform: rotate(-100deg);
		transform-origin:center;
	}

	.close_menu .line:nth-child(2){
		display: none;
	}
	.navbar h2{
	font-size: 2.5rem;
	}
	.navbarScroll .navbar h2{
		font-size: 2.5rem;

	}
}
.navlink_active{
	transform: translateX(0%);
}

/* ******************** section 1 **********************/
.welcome{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.welcome .section1{
	padding: 3rem;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}
.welcome .section1 h2{
	font-size: 5rem;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
}
.profile_logo{
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
}
.profile_logo img{
	width: 10%;
	border-radius: 50%;
	animation: profileAnimation 500ms linear;
	border:3px solid #d9d8da;
	animation: pulse 2.5s ease infinite;
}
@keyframes pulse{
	0% {
		transform: scale(.97);
		box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.945);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
	  }
	  
	  100% {
		transform: scale(0.97);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	  }
}


.welcome .section1 p{
	    margin-top: 2.5rem;
		font-size: 2.5rem;
		color: #ffffff;
		font-weight: lighter;
		letter-spacing: 0.1rem;
		text-align: center;
	
}
.welcome .section1 p span{
	color: #d11717;
	font-weight: bold;
	
} 
.welcome .section1 h2 span{
	color: #d11717;
	display:inline-block;
	animation: name-animation1 1s forwards;
} 

/* ** section 1 close*/
/* ** Responsive */
@media screen and (max-width:950px){
	.welcome .section1 p{
		font-size: 2rem;
	}
	.welcome .section1 h2{
		font-size: 4rem;
	}
}
@media screen and (max-width:768px){
	.welcome .section1 h2 span{
	animation: name-animation2 2s forwards;
	}
	.profile_logo img{
		width: 22%;
	}
}
/* ** Responsive close*/



/**------------Section-2-------------------->*/
.section2{
	height: auto;
	width: 100vw;
	background: linear-gradient(to bottom, #000000, #18151d);
	padding: 5rem 0 8rem 0;
	position: relative;
}
.section2::before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	background-image:url('./image/profile_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: .1;
}
.section2 h1{
	position: relative;
	font-size: 4rem;
	background:linear-gradient(to right, #e41642,#ee4527);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #d11717;
	font-weight: 600;
	letter-spacing: .2rem;
	display: inline-block;
	position: relative;
}

.aboutme{
	position: relative;
	width: 65%;
	height: 80%;
	text-align: center;
	margin: 0 auto;
}

.section2 p{
	font-size: 2rem;
	color: #d11717;
	font-weight: 400;
	color: #ece7e7;
	line-height: 1.8;
}
 @media screen and (max-width:768px){

	
	.aboutme{
		width: 85%;
	}

	.section2 p{
		font-size:1.5rem;
	}

}



.fa-html5,.fa-css3-alt,.fa-js-square, .fa-python, .fa-cuttlefish, .fa-html5{
	font-size: 3rem;
	color: #bebdbd;
}
.section2 h2{
	position: relative;
	color: #bebdbd;
	text-align: center;
	margin: 2em 0 1em 0;
	font-size: 2.5rem;
	letter-spacing: .5rem;
	font-weight: 600;
	
}
.myskills{
	position: relative;
	max-width: 70vw;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;

}

/**------------Section-2 close-------------------->*/

/**------------Section-3 ------------------->*/
@media screen and (max-width:768px){
	.skills{
		width: 80%;
	}
	.myskills .fab{
		font-size: 2.5rem;
	}
	.myskills{
		width: 90%;
	}
	.section2 h2{
		font-size: 2rem;
	}
}

/**------------Section3 close-------------------->*/

/**------------Section4-------------------->*/
.section4{
	width: 100vw;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	 background: #191720;
	 padding: 5rem 0 8rem 0;
	
	 
}

.section4 h1{
	
	letter-spacing: 0.2rem;
	font-size: 4rem;
	font-weight: 600;
	background:linear-gradient(to right, #e41642,#ee4527);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
}
/** ----------Porject 1 --------------------*/
.pr{
	margin-bottom: 6rem;
}
.projects {
	width: 85vw;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;	
	z-index: 1;
	margin-top:5rem ;
	align-items: center;
	margin-bottom: 10rem;
}

.pr1, .pr2{
	width: 40%;
	/* height: 40rem; */
	background: #16131C;
	box-shadow: -1rem 0 3rem #000;
	border-radius: 2rem;
	padding: 4rem 3rem;
}

.pr1_desc h2, .pr2_desc h2{
	font-weight: 500;
	font-size: 3rem;
	color: #ece9e9;	
}
.pr1_desc h2 span, .pr2_desc h2 span{
	letter-spacing: .2rem;
	color: #c53fd6;
}
.pr1_desc,.pr2_desc{
	font-family: "poppins",sans-serif;
	position: relative;
	/* padding: 4rem; */
}
.pr1_desc>p, .pr2_desc>p{
	color: #ece9e9;
	font-size: 1.6rem;
	margin: 1rem 0 3rem 0;
	line-height: 1.8;
}



.pr_link{
	text-decoration: none;
	padding: 1rem 2.5rem;
	font-size: 1.8rem;
	font-weight: 700;
	color: #817d7d;
	border-radius: 3rem;
	background:linear-gradient(to right, #e41642,#ee4527);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
	box-shadow: -1rem 0 4rem #000;
	border: .2rem solid #8f8d91;
	display: inline-block;
	position: relative;
	letter-spacing: .1rem;
	text-align: center;
	transition: border 100ms ease;
}
.pr_link:hover{
	border: .2rem solid #ffffff;
	background:linear-gradient(to right, #fa0a3e,#f5310e);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
}

/** -----------Project 1 close ---------------*/

/** ------------Project 2----------------------*/





.pr2_desc h2 span{
	color: #42cf61;
}


.pr2_tech h3{
	color: #42cf61;
}
.pr2_tech p{
	color:#ece9e9;

}

@media (max-width:1263px){
	html{
		font-size:60%;
	}
}
@media (max-width:1207px){
	html{
		font-size: 58%;
	}
}

@media (max-width:967px){
	html{
		font-size: 54%;
	}
}
@media (max-width:894px){
	html{
		font-size: 50%;
	}
}
@media (max-width:753px){
	.projects{
		flex-direction: column;
	}
	.pr{
		width: 80%;
	}
}
@media (max-width:350px){
	html{
		font-size: 48%;
	}
	.pr{
		width: 90%;
	}
}
/**------------Section4 close-------------------->*/

/**-------------Scroll up -----------------*/
#scroll_up{
	display:none;
}
nav[data-scroll = "out"] #scroll_up{
	position: fixed;
	z-index:10;
	display: inline-block;
	bottom: 10%;
	right: 4%;
	background:linear-gradient(to right, #f50d3f,#f33514);
	width: 4rem;
	height: 4rem;
	border:none;
	cursor: pointer;
	font-family: "Oxygen",sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	color: #f0ecec;
	animation: scroll_upanm 1.5s forwards;
	letter-spacing: 0.3rem;
	line-height: 4rem;
	text-align: center;
	opacity: 0.6;
	
	
}

@keyframes scroll_upanm{
	 0%{
	height: 0;
	background:linear-gradient(to right, #e41642,#ee4527);
	
	}
	30%{
	height: 4rem;
	border-radius: 50%;
	
	} 
	100%{
		border-radius: 0;
	}

}
nav #scroll_up:hover{
	opacity: 1;
}
/** Scroll down */
.scroll_down {
	display: flex;
	justify-content: center;
}
.scroll_down .fas{
	font-size: 4rem;
	color: #ffffff;
	position: absolute;
	bottom: 1rem;
	animation: scroll_down 1s ease infinite;
	transition: 1s all;
	
}
div[data-scroll="out"] .scroll_down .fas{
	display: none;
}
@keyframes scroll_down{
	from{
		bottom: 1rem;
	}
	to{
		bottom: 3rem;
	}
}
