*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}
html{
	font-size: 62.5%;
	
}
/*** navbar scroll class */
.navbarScroll .navbar h2{
	font-family: 'Oxygen', sans-serif;
	font-size: 2.8rem;
	cursor: pointer;
	font-weight: 700;
	/* color:#d11717; */
	/* color: #eb2f0e; */
	color: #d11717;
	/* color: #f5f5f5; */
	letter-spacing: 0.1rem;
	transition: color 1s;
}
.navbarScroll .navbar .nav_links .link a{
	text-decoration: none;
	font-size: 1.4rem;
	margin: 1.5rem;
	font-family: 'Raleway', sans-serif;
	color: #d11717;
	letter-spacing: 2px;
	transition: color 1s;
}

.navbarScroll{
	background: #1a1919;
	transition: background 1s;	
	border-bottom: 0.3rem solid #eee8e8;
}
.navbarScroll .navbar .hamburger .line{
	background: #d11717;
}
/*** NavbarScroll Close*/


.navbar h2{
	/* font-family: 'Pacifico', cursive; */
	font-family: 'Oxygen', cursive;
	font-size: 2.8rem;
	cursor: pointer;
	font-weight: 700;
	/* color:#d11717; */
	/* color: #eb2f0e; */
	color: #eee8e8;
	line-height: 7rem;

	/* color: #f5f5f5; */
	letter-spacing: 0.1rem;
}
nav{
	width: 100vw;
	height: auto; 
	border-bottom: 0.3rem solid #d11717;
	display: flex;
	align-items: center;
	justify-content: center;
	background:#2e2c2c;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.navbar{
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.nav_links{
	list-style: none;
	display: flex;
	
}
/*** Contact Button style*/
/* .nav_links .link:last-child{
	border: 1px solid black;
	padding: 0.5rem;
	border-radius: 1.5rem;
	background: #830b0b;
}  */

.nav_links .link a{
	text-decoration: none;
	font-size: 1.4rem;
	margin: 1.5rem;
	font-family: 'Raleway', sans-serif;
	color: #f5f5f5;
	letter-spacing: 2px;
}
.nav_links .link a:hover{
	color:#d11717 ;
}
.welcome{
	height: 100vh;
	width: 100vw;
	/* background: linear-gradient(60deg, #8d25f5 40%,#c642ff) */
	background-image: url(image/bg1.png);
	background-size: cover;
	background-attachment: fixed;
	scroll-snap-type: mandatory;
	position: relative;
}
.welcome::after{
	content: "";
	position: absolute;
	top:0px;
	left:0px;
	height: 100vh;
	width: 100vw;
	background-color: #000000;
	opacity: 0.7;
}
/*** Hamburger*/
.hamburger div{
	width: 25px;
	height: 3px;
	background-color: ivory;
}
.hamburger div:not(:last-child){
	margin-bottom: 5px;
}
.hamburger{
	display: none;
}
/* Media query */
@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}
	.nav_links{
		position: absolute;
		right: 0px;
		height: 100vh;
		width: 40%;
		top: 7.5rem;
		display: flex;
		flex-direction: column;
		background: #2e2c2c;
		transform: translateX(200%);
		transition: transform 0.45s ease-in;
		margin:0;
		align-items: center;
		z-index: 3;
	}
	 .nav_links .link:not(:last-child){
		margin-bottom: 30px;
	}
	.nav_links .link:nth-child(1){
		margin-top: 30px;
	}

	.hamburger{
		display:block;
		cursor: pointer;
	}

}
.navlink_active{
	transform: translateX(0%);
}

/* ** section 1 */
.welcome{
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome .section1{
	width: 70vw;
	height: 80vh;
	z-index: 2;
	display: inherit;
	flex-direction: column;
	align-items: center;
	justify-content:center ;
	
		
}
.welcome .section1 h2{
	font-size: 5rem;
	color: #ffffff;
	font-family: 'Oxygen', sans-serif;
	font-weight: lighter;
	letter-spacing: 0.1rem;
	
}

.welcome .section1 p{
	    margin-top: 2.5rem;
		font-size: 2.5rem;
		color: #ffffff;
		font-family: 'Oxygen', sans-serif;
		font-weight: lighter;
		letter-spacing: 0.1rem;
	
}
.welcome .section1 p span{
	color: #d11717;
	font-weight: bold;
	
} 
.welcome .section1 h2 span{
	color: #d11717;
	display: inline-block;
	animation: name-animation1 1s forwards;
} 
@keyframes name-animation1{
	from{
		transform: translateY(-30%);
		color: #ffffff;
	}
	to{
		transform: translateY(0%);
	}
}
@keyframes name-animation2{
	from{
		transform: translateX(30%);
		color: #ffffff;
	}
	to{
		transform: translateX(0%);
	}
}
/* ** section 1 close*/
/* ** Responsive */
@media screen and (max-width:950px){
	.welcome .section1 p{
		font-size: 2rem;
	}
	.welcome .section1 h2{
		font-size: 4rem;
	}
}
@media screen and (max-width:768px){
	.welcome .section1 h2 span{
	animation: name-animation2 2s forwards;
	}
}
/* ** Responsive close*/
/*? Animation */
.welcome .section1 p span{
	animation: fade 1s forwards;
	display: inline-block;
	transform: rotate(90deg);
}
@keyframes fade{
	from{
		transform: rotate(90deg);
		color: #ffffff;
	}
	to{
		transform: rotate(180deg);

	}
}
/*? Animation close */


/**------------Section-2-------------------->*/
.section2{
	height: auto;
	width: 100vw;
	background: linear-gradient(to bottom, #131212, #312f2f);
	padding: 3rem;
	
}
.section2 h1{
	font-family: 'Oxygen',sans-serif;
	font-size: 4rem;
	color: #d11717;
	font-weight: 400;
	margin-bottom: 2rem;
	letter-spacing: .2rem;
}
.aboutme{
	width: 80%;
	height: 80%;
	padding: 4rem;
	text-overflow:hidden;
}
.section2 p{
	font-family: 'Oxygen',sans-serif;
	font-size: 3vh;
	color: #d11717;
	font-weight: 400;
	margin-bottom: 3rem;
	color: #ece7e7;
	
}



/**------------Section-2 close-------------------->*/

/**------------Section-3 ------------------->*/
.section3{
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background:#3b3a3a;
	
}
.section3 h2{
	text-align: center;
	font-size: 3rem;
	color: #e6e3e3;
	font-family: 'Oxygen',sans-serif;
	font-weight: 700;
	margin-bottom: 3rem;
}
.skills{
	width: 60%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 1px solid black; */
	border-radius: 0.8rem;
	background: linear-gradient(60deg,#080808a4,#171818,#1f1e1e);
	-webkit-box-shadow: 14px 25px 38px -13px rgba(15,15,15,0.59);
-moz-box-shadow: 14px 25px 38px -13px rgba(15,15,15,0.59);
box-shadow: 14px 25px 38px -13px rgba(15,15,15,0.59);
	
}
.skills .sk:not(:last-child){
	margin-bottom:3rem;
}
.sk h3{
	font-family: 'Oxygen',sans-serif;
	color:#d11717;
	margin-bottom: 0.8rem;
	font-size: 1.5rem;
	font-weight: 400;

}
.bar-container{
	height: 0.5rem;
	width: 50vw;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 3rem;
}
#skill-bar1{
	height: 0.3rem;
	width: 90%;
	background: #30c2c7;
	
}
#skill-bar2{
	height: 0.3rem;
	width: 75%;
	background: #30c2c7;
	
}
#skill-bar3{
	height: 0.3rem;
	width: 55%;
	background: #30c2c7;
	
}
#skill-bar4{
	height: 0.3rem;
	width: 70%;
	background: #30c2c7;
	
}
#skill-bar5{
	height: 0.3rem;
	width: 80%;
	background: #30c2c7;
	
}

/**------------Section3 close-------------------->*/