*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html{
	font-size: 62.5%;

}

.navbar h2{
	/* font-family: 'Pacifico', cursive; */
	font-family: 'Oxygen', cursive;
	font-size: 2.8rem;
	cursor: pointer;
	font-weight: bolder;
	/* color:#d11717; */
	/* color: #eb2f0e; */
	color: #eee8e8;

	/* color: #f5f5f5; */
	letter-spacing: 0.1rem;
	
}
nav{
	width: 100vw;
	height: 10vh; 
	border-bottom: 0.3rem solid #d11717;
	display: flex;
	align-items: center;
	justify-content: center;
	background:#2e2c2c;
}
.navbar{
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.nav_links{
	list-style: none;
	display: flex;
	
}
/*** Contact Button style*/
/* .nav_links .link:last-child{
	border: 1px solid black;
	padding: 0.5rem;
	border-radius: 1.5rem;
	background: #830b0b;
}  */

.nav_links .link a{
	text-decoration: none;
	font-size: 1.4rem;
	margin: 1.5rem;
	font-family: 'Raleway', sans-serif;
	color: #f5f5f5;
	letter-spacing: 2px;
}
.nav_links .link a:hover{
	color:#d11717 ;
}
.welcome{
	height: 90vh;
	width: 100vw;
	/* background: linear-gradient(60deg, #8d25f5 40%,#c642ff) */
	background-image: url(image/bg1.png);
	border-image-repeat: stretch;
	position: relative;
}
.welcome::after{
	content: "";
	position: absolute;
	top:0px;
	left:0px;
	height: 90vh;
	width: 100vw;
	background-color: #000000;
	opacity: 0.85;
}
/*** Hamburger*/
.hamburger div{
	width: 25px;
	height: 3px;
	background-color: ivory;
}
.hamburger div:not(:last-child){
	margin-bottom: 5px;
}
.hamburger{
	display: none;
}
/* Media query */
@media screen and (max-width:768px){
	body{
		overflow-x: hidden;
	}
	.nav_links{
		position: absolute;
		right: 0px;
		height: 90vh;
		width: 40%;
		top: 10vh;
		display: flex;
		flex-direction: column;
		background: #2e2c2c;
		transform: translateX(200%);
		transition: transform 0.4s ease-in;
		margin:0;
		align-items: center;
		z-index: 3;
	}
	 .nav_links .link:not(:last-child){
		margin-bottom: 30px;
	}
	.nav_links .link:nth-child(1){
		margin-top: 30px;
	}

	.hamburger{
		display:block;
		cursor: pointer;
	}

}
.navlink_active{
	transform: translateX(0%);
}

/* ** section 1 */
.welcome{
	display: flex;
	justify-content: center;
	align-items: center;
}
.welcome .section1{
	width: 70vw;
	height: 80vh;
	z-index: 2;
	display: inherit;
	flex-direction: column;
	align-items: center;
	justify-content:center ;
		
}
.welcome .section1 h2{
	font-size: 5rem;
	color: #ffffff;
	font-family: 'Oxygen', sans-serif;
	font-weight: lighter;
	letter-spacing: 0.1rem;
}

.welcome .section1 p{
	    margin-top: 2.5rem;
		font-size: 2.5rem;
		color: #ffffff;
		font-family: 'Oxygen', sans-serif;
		font-weight: lighter;
		letter-spacing: 0.1rem;
	
}
.welcome .section1 p span{
	color: #d11717;
	font-weight: bold;
} 
.welcome .section1 h2 span{
	color: #d11717;
	
} 
/* ** section 1 close*/
/* ** Responsive */
@media screen and (max-width:950px){
	.welcome .section1 p{
		font-size: 2rem;
	}
}
@media screen and (max-width:800px){
	.welcome .section1 h2{
		font-size: 4rem;
	}
}
/* ** Responsive close*/
/*? Animation */
.welcome .section1 p{
	animation: fade 1s ease;
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	30%{
		opacity: 0.3;
	}
	60%{
		opacity: 0.6;
	}
	100%{
		opacity: 1;
	}
}
/*? Animation close */

/* ** About Section */
.about{
	height:80vh;
	width: 100vw;
	/* border-top: 0.5rem solid #111010; */
	background: linear-gradient(to right,#851818,#000000);
	display: flex;
	justify-content: center;
	align-items: center;
}
.about .section2{
	background: rgb(98, 98, 98);
	border-top-left-radius:2rem;
	border-top-right-radius:2rem;
	border-bottom:0.3rem solid #000000;
	background-color: #f0e8e8;
	width: 70vw;
	height: auto;
	-webkit-box-shadow: -20px 40px 94px -33px rgba(26,25,25,0.68);
-moz-box-shadow: -20px 40px 94px -33px rgba(26,25,25,0.68);
box-shadow: -20px 40px 94px -33px rgba(26,25,25,0.68);
}
.about .section2 .heading{
	display: flex;
	background-color: #1a1818;
	justify-content: center;
	height: 4rem;
	border-top-left-radius:2rem;
	border-top-right-radius:2rem;
}
.about .section2 .heading h2{
	line-height: 4rem;
	font-size: 2.5rem;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 0.1rem;
	color: #f5f5f5;
	
}
.about .section2 p{
	font-family:  'Oxygen', sans-serif;
	font-size: 1.4rem;
	text-align:center;
	font-weight: 600;
	margin: 5rem 1rem;
}
/***     Section-3          */
.section3{
	height: 90vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(to right,#851818,#000000)
}

.section3 .bars{
	height: 3rem;
	width: 40rem;
	border-radius: 4rem;
	/* border:1px solid rgb(18, 178, 184); */
	margin-left: 2rem;
	background: rgb(117, 219, 223);
}
.myskills .skill_icon:not(:last-child){
	
	margin-bottom: 2rem;
}
.myskills{
	width: 80vw;
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.skill_icon{
	display: flex;
	max-width: 60vw;
}
.section3 .myskills img{
	height: 4rem;
	widows: 4rem;
}
.section3 h2{
	font-size: 4rem;
	color: #ffffff;
	font-family: 'Oxygen', sans-serif;
	font-weight: lighter;
	letter-spacing: 0.1rem;
	background:#1a1818;
	border-radius: 3rem;
	padding: 2rem 6rem;
}
@media screen and (max-width:768px){
	.section3 h2{
		font-size: 3rem;
	
	}
}
/***  bar animation*/
.bars #html{
	animation: html_anm 1s linear;
	background:#E44D26;
	border-radius: 4rem;
	width:90%;
	height: 3rem;
	
}
@keyframes html_anm{
	0%{
		width: 0%;
	}
	10%{
		width: 9%;
	}
	20%{
		width: 18%;
	}
	30%{
		width: 27%;
	}
	40%{
		width: 36%;
	}
	50%{
		width: 45%;
	}
	60%{
		width: 54%;
	}
	70%{
		width: 63%;
	}
	80%{
		width: 72%;
	}
	90%{
		width: 81%;
	}
	100%{
		width: 90%;
	}
}
.bars #css{
	animation: css_anm 1s linear;
	background:#2062AF;
	border-radius: 4rem;
	width:80%;
	height: 3rem;
}
@keyframes css_anm{
	0%{
		width: 0%;
	}
	10%{
		width: 8%;
	}
	20%{
		width: 16%;
	}
	30%{
		width: 24%;
	}
	40%{
		width: 32%;
	}
	50%{
		width: 40%;
	}
	60%{
		width: 48%;
	}
	70%{
		width: 56%;
	}
	80%{
		width: 64;
	}
	90%{
		width: 72%;
	}
	100%{
		width: 80%;
	}
}

.bars #javascript{
	animation: javascript_anm 1s linear;
	background:#F7DF1E;
	border-radius: 4rem;
	width:60%;
	height: 3rem;
}
@keyframes javascript_anm{
	0%{
		width: 0%;
	}
	10%{
		width: 6%;
	}
	20%{
		width: 12%;
	}
	30%{
		width: 18%;
	}
	40%{
		width: 24%;
	}
	50%{
		width: 30%;
	}
	60%{
		width: 36%;
	}
	70%{
		width: 42%;
	}
	80%{
		width: 48%;
	}
	90%{
		width: 54%;
	}
	100%{
		width: 60%;
	}
}
.bars #python{
	animation: python_anm 1s linear;
	background:#2BA977;
	border-radius: 4rem;
	width:70%;
	height: 3rem;
}
@keyframes python_anm{
	0%{
		width: 0%;
	}
	10%{
		width: 7%;
	}
	20%{
		width: 14%;
	}
	30%{
		width: 21%;
	}
	40%{
		width: 28%;
	}
	50%{
		width: 35%;
	}
	60%{
		width: 42%;
	}
	70%{
		width: 49%;
	}
	80%{
		width: 56%;
	}
	90%{
		width: 63%;
	}
	100%{
		width: 70%;
	}
}
.bars #c{
	animation: css_anm 1s linear;
	background:#2e3a94;
	border-radius: 4rem;
	width:80%;
	height: 3rem;
}
